<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog Tracker App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-nav .nav-link {
            padding: 10px 15px;
            transition: background-color 0.2s;
        }

            .navbar-nav .nav-link:hover {
                background-color: #333;
            }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #333;
            padding-top: 120px
        }

            .sidenav a {
                padding: 8px 8px 8px 16px;
                text-decoration: none;
                font-size: 18px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

        .main-content {
            margin-left: 230px; /* Adjust this margin based on your side navigation bar width */
            padding: 0px 0px 20px 20px; /* Adjust padding as needed */
        }
    </style>
</head>
<body>
    <div class="sidenav">
        <ul>
            <li>@Html.ActionLink("Product List  ", "Index", "Product")</li>
            <li>@Html.ActionLink("Product Add ", "AddProduct", "Product")</li>
            <li>@Html.ActionLink("Customer List", "*", "*")</li>
        </ul>
    </div>


    <div class="main-content">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            @Html.ActionLink("E-Pay Roll", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Registration", "Registration", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Log out", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
